<!--div container>
  <div row>
    <div col-xs-5>
       <div><span>Placeholder for IP symbole</span></div>
    </div>
    <div col-xs-2>
	<ul class="nav nav-pills ">
	  <li ng-repeat="view in views" ng-click="click(view)" ng-class="{active: view.name == active.name}"><a href="#interface" active-status>{{view.name}}</a></li>
	</ul>
    </div>
    <div col-xs-5>
	<p>adsfasdf asdf </p>
    </div>
  </div>
</div-->
<div container>
<div class="row">
<div class="sidebar-nav col-xs-3"> 
    <!--div class="well" style="width:300px; padding: 8px 0;"--> 
        <ul class="nav nav-pills nav-stacked">  
          <li class="nav-header">Admin Menu</li>         
	  <li ng-repeat="view in views" ng-click="click(view)" ng-class="{active: view.name == active.name}"><a href="#interface">{{view.name}}</a></li>
        </ul> 
    <!--/div--> 
</div> 

<div class="pull-right col-xs-9">
<h2>asdfasdfasdfasdfasdfasdf</h2>
<p>asdfasdfasdfasdfasdfasdf</p>
</div>

</div>
</div>
